src/main/resources/auth.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soap.auth.app.abr.dipvvf.it/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AuthSOAPServiceService" targetNamespace="http://soap.auth.app.abr.dipvvf.it/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soap.auth.app.abr.dipvvf.it/" elementFormDefault="unqualified" targetNamespace="http://soap.auth.app.abr.dipvvf.it/" version="1.0">

  <xs:element name="authenticate" type="tns:authenticate"/>

  <xs:element name="authenticateResponse" type="tns:authenticateResponse"/>

  <xs:element name="hasRole" type="tns:hasRole"/>

  <xs:element name="hasRoleResponse" type="tns:hasRoleResponse"/>

  <xs:complexType name="authenticate">
    <xs:sequence>
      <xs:element minOccurs="0" name="userName" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="authenticateResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hasRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="userName" type="xs:string"/>
      <xs:element minOccurs="0" name="role" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hasRoleResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="hasRole">
    <wsdl:part element="tns:hasRole" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="authenticateResponse">
    <wsdl:part element="tns:authenticateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hasRoleResponse">
    <wsdl:part element="tns:hasRoleResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="authenticate">
    <wsdl:part element="tns:authenticate" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AuthSOAP">
    <wsdl:operation name="authenticate">
      <wsdl:input message="tns:authenticate" name="authenticate">
    </wsdl:input>
      <wsdl:output message="tns:authenticateResponse" name="authenticateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hasRole">
      <wsdl:input message="tns:hasRole" name="hasRole">
    </wsdl:input>
      <wsdl:output message="tns:hasRoleResponse" name="hasRoleResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthSOAPServiceServiceSoapBinding" type="tns:AuthSOAP">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="authenticate">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="authenticate">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="authenticateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hasRole">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="hasRole">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hasRoleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthSOAPServiceService">
    <wsdl:port binding="tns:AuthSOAPServiceServiceSoapBinding" name="AuthSOAPServicePort">
      <soap:address location="http://localhost:8080/VVFAuthServiceSOAP/auth"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>